/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700%7CMaterial+Icons');

html{
  height: 100%;
  background-color: aliceblue;
}

body {
  height: 100%;

}

app-root {
  height: 100%;
  overflow-y:scroll;
}

.center-text {
  text-align: center;
}

.scrollable-list  {
  overflow:hidden;
  overflow-y:scroll;
  height: 525px;
}

span.file-path {
  color: darkslateblue;
}
