.main-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10em;
}

.player-card {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.width-30 {
  width: 30px;
}

.audio {
  width: 50%;
}

.play-list-container {
  margin: 0.5em;
  flex-grow: 1;
  box-sizing: border-box;
}

.play-list {
  width: 90%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.play-list .play-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.play-list.cdk-drop-list-dragging .play-list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.file-explorer  {
  min-width: 30%;
  margin: 0.5em;
  flex-grow: 1;
  box-sizing: border-box;
}

::ng-deep .play-list .mat-list-item-content {
  justify-content: space-between;
  padding: 0;
}


.play-icon-and-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


