.file-list-card {
  margin-top: 20px;
}

.main-container {
  width: 100%;
}

.player-card {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  /*background-color: skyblue;*/
}

.audio {
  width: 50%;
}
