
<mat-card class="file-list-card">
  <h3 class="center-text">Music Library</h3>
  <mat-list-item class = "nav-bar">
    <button mat-flat-button *ngIf="folderStack.length" (click)="lastFolder()">
      <mat-icon >arrow_back</mat-icon>
    </button>
  </mat-list-item>
  <div class="file-list">
  <mat-list  role="list" *ngFor="let file of files; let i = index">
    <!--  Music -->
    <mat-list-item *ngIf="!file.IsDir" role="listitem" (click)="selectMusic(file)">
      <mat-icon class="icon">music_note</mat-icon>
      {{file.Name}}
    </mat-list-item>

    <!--  Folder -->
    <mat-list-item *ngIf="file.IsDir" role="listitem" (click)="nextFolder(i)" >
      <div class="width-30"></div>
      <mat-icon class="icon">folder</mat-icon>{{file.Name}}
    </mat-list-item>
    <!--<mat-divider></mat-divider>-->
  </mat-list>
  </div>
</mat-card>
